.profile {
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: auto;
  padding-top: 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(100, 100, 100, 0.562);
  border-radius: 20px;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.imageContainer {
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
}

.p__name {
  font-size: 32px;
  margin: 0;
}
.p__text {
  font-size: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.3);
}

/* -------------------------------------- */

.stats {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}

.statsList {
  align-items: center;
  display: flex;
  flex-basis: calc(100% / 3);
  flex-direction: column;
  font-size: 12px;
  gap: 2px;
  justify-content: center;
  padding: 18px;
  margin-left: -1px;
  margin-right: -1px;
  border: 1px solid rgba(100, 100, 100, 0.562);
  background-color: rgba(128, 128, 128, 0.295);
}
